@media (min-width: 768px) and (max-width: 1024px) {
  .panel-footer {
    font-size: 10px; } }

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0; }

.navbar ul {
  margin-bottom: 0px !important; }

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  background: linear-gradient(45deg, #1e5799 0%, #ff01ff 100%);
  font-style: italic; }

/* Add a gray background color and some padding to the footer */
footer {
  background: #222 !important;
  padding: 25px;
  color: #777; }

.background-gradient {
  background: linear-gradient(to bottom, #004089 0%, #4b004b 100%); }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #820082 !important; }

.panel-heading {
  height: 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(to bottom, #1e5799 0%, #ff01ff 100%); }

.panel-heading::before {
  background: linear-gradient(45deg, #1e5799 0%, #ff01ff 100%); }

.panel-body {
  height: 300px; }

.product-image {
  max-width: 100%;
  max-height: 100%; }

.product-price {
  border-radius: 15px 60px;
  background: #ffaa00;
  padding: 8px;
  height: 30px; }

.product-special-price {
  color: #bb0000; }

.category-list {
  position: fixed;
  z-index: 300; }

.category-description {
  color: #555555;
  font-size: 80%; }

.product-background {
  border-radius: 5px;
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px; }

.product-background form {
  padding: 15px; }

.product-description {
  max-height: 100px;
  border-radius: 15px;
  background: #ccccff;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; }

.cart-product-description {
  max-height: 250px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto; }

.cart-product-image {
  width: auto;
  height: 200px; }

.cart-image {
  float: left;
  width: 50%; }

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; }

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px; }

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: black; }

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important; }

.asteriskField {
  color: red; }

.bootstrap-iso {
  background: #ffffff; }

